<header>

</header>

<div>
    <nav *ngIf="isLogged$|async">
        <ul>
            <li>
                <a routerLinkActive="active" routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLinkActive="active" routerLink="/products" *ngIf="hasAdminOrSellerRole()">Products</a>
                <ol>
                    <li>
                        <a routerLinkActive="active" routerLink="/products/create" *ngIf="hasRole('admin')">Create</a>
                    </li>
                </ol>
            </li>
            <li>
                <a routerLink="/customers" *ngIf="hasAdminOrSellerRole()">Customers</a>
                <ol>
                    <li>
                        <a routerLinkActive="active" routerLink="/customers/create" *ngIf="hasAdminOrSellerRole()">Create</a>
                    </li>
                    <li>
                </ol>
            </li>
            <li>
                <a routerLink="/users" *ngIf="hasRole('admin')">Users</a>
                <ol>
                    <li>
                        <a routerLinkActive="active" routerLink="/users/create" *ngIf="hasRole('admin')">Create</a>
                    </li>
                </ol>
            </li>
            <li>
                <a routerLink="/orders" *ngIf="hasAdminOrSellerRole()">Orders</a>
                <ol>
                    <li>
                        <a routerLinkActive="active" routerLink="/orders/create" *ngIf="hasAdminOrSellerRole()">Create</a>
                    </li>
                </ol>
            </li>
        </ul>
    </nav>

    <main>
        <router-outlet></router-outlet>
    </main>
</div>

<footer></footer>
<p-toast></p-toast>