@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}